body{font-family: Verdana;}

.fondo {
    background-color: rgb(29, 29, 29);
}
.container {
    display: flex;
    justify-content: center;
  }


h1{
    font-size: 2em;
    color: rgb(226, 226, 226);
    margin-top: 3em;
    font-weight: bold;
    
}