body{
    font-family: Verdana;
    color: rgb(226, 226, 226);
}

.fondo {
    background-color: rgb(29, 29, 29);
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-weight: bold;
  }


h1{
    font-size: 2em;
}
h2 {
    margin-bottom: 1em;
}
.parrafo{
    text-align: justify;
    width: 85vw;
    margin: auto;
    margin: top 1,5em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fotoperfil{
    width: 300px;
    height: 300px;
    margin: auto;
    margin: top 1,5em;
    padding: 2em;
    display: flex;
    flex-direction: row;
}
.logo-container{
    width: 60vw;
    margin: auto;
    margin: top 1,5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.logos{
    width: fit-content;
    padding: 1em 2em 2em 2em;
    border-radius: 2%;
    filter: grayscale(100%);
    transition: 1s;    
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.logos:hover{
    filter: grayscale(0%);
}

.logoMedidas{
    width: 200px;
    height: 200px;
    
 
}

section {
    margin: 2em;
    padding: 2em;
    
    
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="url"],
button {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 8px;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

button {
   
    background-color: rgb(29, 29, 29);
    color: rgb(226, 226, 226);
    cursor: pointer;
    margin: auto;
}

button:hover {
    background-color: #3d3d3d;
}
/* Agregamos reglas de estilo para las actividades */
.activity-card {
    width: calc(33.33% - 20px); /* Dividimos en tres columnas con un pequeño espacio entre ellas */
    margin: 10px;
    display: inline-block; /* Para que estén una al lado de la otra */
    vertical-align: top; /* Alineamos las actividades arriba */
    text-align: center;
    
}

.activity-card img {
    margin-top: 10px;
    width: 400px; /* Ancho deseado para las imágenes */
    height: auto; /* Para mantener la proporción */
}

.activity-card button {
    width: 400px; /* Ancho igual al de la imagen */
    margin-top: 10px; /* Espacio entre la imagen y el botón */
}

/* Limpiamos el float para evitar problemas de layout */
.activities-container::after {
    content: "";
    display: table;
    clear: both;
}
